body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(22, 9, 77);
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.title{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    padding: 20px;
}

.sub-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 30px;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    gap:16px;
}

#rock,
#paper,
#scissors{
    border: 8px solid azure;
    width: 250px;
    height: 250px;
    background-color: rgb(22, 9, 77);
    color: azure;
    font-size: 24px;
    transition: all 0.3s;
    
}

.main-btn:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 18px azure;
}

.main-btn:active{
    transform: scale(0.9);
    box-shadow: 0px 0px 0px azure;
}

img{
    width: 150px;
}

.score-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
}

.my-score,
.cpu-score{
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.compare{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.text-result{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#my-sel,
#cpu-sel{
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cont-res-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.res-container{
    font-size: 48px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(21, 9, 77, 0.95);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.93);
}

.play-again{
    font-size: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 100px;
    border: 12px solid azure;
    border-radius: 12px;
    background-color: azure;
    color:rgba(21, 9, 77);
    margin: 40px;
    transition: all 0.3s;
}

.play-again:hover{
    transform: scale(1.05);
    background-color: rgba(21, 9, 77);
    color: azure;
    box-shadow: 0px 0px 18px azure;
}

.play-again:active{
    transform: scale(0.95);
    box-shadow: 0px 0px 0px azure;
}